server {
	listen 80;
	listen [::]:80;
	server_name _;
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:443 ssl;
	server_name localhost;

		ssl on;
		ssl_certificate			/etc/nginx/ssl/server.crt;
		ssl_certificate_key		/etc/nginx/ssl/private.key;

	root /var/www/html/;
	index index.php index.html index.htm;
	
	access_log /var/log/nginx/wordpress_access.log;
	error_log /var/log/nginx/wordpress_error.log;

	client_max_body_size 64M;

	location /wordpress/ {
		try_files $uri $uri/ /wordpress;
	}

	location /phpmyadmin/ {
		try_files $uri $uri/ /phpmyadmin;
	}

	location / {
		autoindex {{ var "AUTOINDEX" | default "on" }};
		try_files $uri $uri/ /wordpress;
	}

	location ~ \.php$ {
		try_files $uri =404;
		include /etc/nginx/fastcgi_params;
		fastcgi_read_timeout 3600s;
		fastcgi_buffer_size 128k;
		fastcgi_buffers 4 128k;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass unix:/run/php/php7.3-fpm.sock;
		fastcgi_index index.php;
	}
}
